.topcss {
     display: inline-block;
     padding: 6px 12px 0px 12px;
     margin-top: 10px;
     font-size: 14px;
     font-weight: normal;
     line-height: 1.42857143;
     white-space: nowrap;
     vertical-align: middle;
}
.textcenter{
  text-align: center;
}
.font50{
	font-weight: blod;
  font-size: 50px;
	font-family: SimHei;
}
.hiddenBorder{
   border-style: none;
}
input:focus,
input.focus{
    outline: none; 
}
.separator{
    border:1px solid ;
    border-color: #c9c4c3;
}
.marginTop40px{
    margin-top: 40px;
}
.marginBottom40px{
    margin-bottom:  40px;
}
.font40px{
   font-size: 40px;
   font-weight: blod;
   font-family: SimHei;
}
