.topcss {
     display: inline-block;
     padding: 6px 12px 0px 12px;
     margin-top: 10px;
     font-size: 14px;
     font-weight: normal;
     line-height: 1.42857143;
     white-space: nowrap;
     vertical-align: middle;
}
.textcenter{
  text-align: center;
}
.font50{
	font-weight: blod;
    font-size: 50px;
	font-family: SimHei;
}
.font30{
	font-size: 30px;
    font-family: SimHei;
}