#home .divider {
	margin-top:40px;
	margin-bottom:40px;
	color: #8a888d;
}

.labelpadding{
	padding-top: 3px;
	display: inline;
}

.height50px{
	height: 50px;
}
.hovercolor{
	border-color: red;
	border-width: 2px;
	border-left-width: 1px;
	border-right-width: 1px;
}
.hovercolor:hover,
.hovercolor.hover{
	background: red;
	border-color: red;
	color: white;
}
.hovercolor:first-child{
	border-left-width: 2px;
}
.hovercolor:last-child{
	border-right-width: 2px;
}  
 
.col1{
	width: 44%;
}
	  
.col2{
	width: 28%;
}
.col3{
	width: 28%;
}
/*.table-hover{
	     
}*/
/*.table-hover>tbody>tr:hover>td{
	background: red;
}*/
.marginbottom40px{
	margin-bottom:40px;
}
.relative_position{
  position:relative;
  height:60px;
}
.absolute_position_left{
    position:absolute;
    left:0px;
} 
.absolute_position_right{
    position:absolute;
    right:0px
}
.width47persent{
   width:47%;
}
.margin3px{
	margin-bottom: 30px;
}

.height80px{
	height:80px;
}
.whitefont{
	color:white;
}
.lintHeight60px{
	line-height: 60px;
}
.lightBlackColor{
    color: #8a888d;
}
.topMargin20px{
	margin-top: 20px;
}
.redButton{
    background: red;
	border-color: red;
	color:white;
}

.redButton:hover{
	 background: #a6001d;
	 border-color: #a6001d;
	 color:white;
}
.font35px{
   font-size: 35px;
   font-weight: blod;
   font-family: SimHei;
}
option{
	font-size: 35px;
    font-weight: blod;
    font-family: SimHei;
}
.font45px{
   font-size: 45px;
   font-weight: blod;
   font-family: SimHei;
}
.font40px{
   font-size: 40px;
   font-weight: blod;
   font-family: SimHei;
}


 


 

