.whitefont{
	 color : white;
}
.borderdiv{
	height : 15px;
	background : #EEEEEE;
	margin-top : 15px;
	margin-bottom : 15px;
 }
 .blueBackground{
 	background : #3399CC;
 }
 .height600px{
   height : 600px;
 }
 .divAlignCenter{
 	margin-left: auto;
 	margin-right: auto;
 }
 .font35px{
   font-size: 35px;
   font-weight: blod;
   font-family: SimHei;
}
.marginTop8px{
	margin-top : 8px;
 }
.font35px{
   font-size: 35px;
   font-weight: blod;
   font-family: SimHei;
}
