.height60px {
   height: 60px;
   padding-top: 3px;
   display: inline;
}
.width35px{
   width : 35px;
   height: 35px;
}
.bottommargin10px{
   margin-bottom: 10px;
}

.leftfloat{
    float: left;
}
.rightfloat{
    float: right;
}

.paddingleft15px{
    padding-left: 15px;
}
        
.paddingright15px{
    padding-right: 15px;
}
.height80px{
    height: 80px;
}
        
.redbackground{
    background: red;
}
